.form__subscribe {
	margin: 0 auto;
	width: 75%;
}

.input--text {
	border: 1px solid #82858D;
	border-radius: 6px;
	height: 2.5em;
	margin: 0 0 .5em 0;
	padding-left: 0.3em;
	width: 100%;
	@include linear-gradient(#FFF, #E7E4E4);

	@media (min-width: $lg-screen) {
		display: inline-block;
		height: 2.3em;
		margin-right: 10px;
		width: 70%;	
	}
}