.email {
	background-color: #FFFFFF;
	border: 1px solid $grey;
	border-radius: 6px;
	height: 2.5em;
	margin: 0 0 .5em 0;
	width: 100%;

	@media (min-width: $md-screen) {
		display: inline-block;
		float: left;
		height: 2.3em;
		margin-right: 10px;
		width: 70%;	
	}
}

.sign-up {
	background-color: $pink;
	border: 1px solid $white;
	border-radius: 6px;
	color: $white;
	display: inline-block;
	font-family: $rift;
	font-size: 1.2em;
	height: 2em;
	width: 100%;

	@media (min-width: $md-screen) {
		width: 25%;
		float: right;
		height: 1.9em;
		display: inline-block;
	}
}

form {

}