nav {
  background-color: $white;
  color: $grey;
  font: $rift-light;
  width: 100%;

  @media (min-width: $md-screen) {
    height: 7.5em;
  }
}

.logo {
  display: none;

  @media (min-width: $md-screen) {
    display: block;
    padding-left: 1em;
  }
}

.nav-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $md-screen) { 
    padding: .5em 0;
  }

    @media (min-width: $lg-screen) { 
    padding-top: 1em;
  }
}