nav {
  background-color: $white;
  color: $grey;
  font: $rift-light;
  width: 100%;

  @media (min-width: $md-screen) {
    height: 6em;
  }
}

.logo {
  display: none;

  @media (min-width: $md-screen) {
    display: block;
    padding-left: 1em;
  }
}

.nav-wrapper {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;

  @media (min-width: $md-screen) { 
    padding: .5em 0;
  }

    @media (min-width: $lg-screen) { 
    padding-top: 1em;
  }
}

.clean-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $md-screen) {
      li {
      display: inline-block;
    }
  }

  a {
    text-decoration: none;

      &:hover {
        text-decoration: underline;
    }
  }
}

.clean-nav__item {
  font-family: $rift;
  font-size: 1.5em;
  padding: 0 .5em;
  
  @media (min-width: $sm-screen) {
    display: inline;
    padding: .9em .5em;     
  }

  @media (min-width: $lg-screen) {
    padding: .6em .5em;
    float: left;
  }
}

.clean-nav__item a {
  color: $grey;
}