<section class="module--centered">
  <p class="text--body">Enter your email to stay in-the-know about upcoming events. We promise we don’t spam.</p>

  <form class="">
    <input type="email" name="email" placeholder="email address" class="email">
    <input type="submit" value="Sign Up" class="sign-up">
  </form>
</section>