<section class="module--container">
  <h2 class="text--subhead">Stay in-the-know about upcoming events</h2>

  <form class="form--subscribe">
    <input type="email" name="email" placeholder="email address" class="input--text">
    <input type="submit" value="Sign Up" class="button--main">
  </form>

  <p class="text--disclaimer">(No spam. We promise.)</p>
</section>