<footer>
	<div class="nav-wrapper">
		<ul class="clean-nav">
      <li class="clean-nav__item--footer">
        <%= link_to "Pivacy Policy", "privacy.html" %>
      </li>    
      <li class="clean-nav__item--footer">
        <%= link_to "Contact Us", "contact.html" %>
      </li>
      <li class="clean-nav__item--footer">
        <p>© 2016 Chicago Software Craftsmanship</p>
      </li>
    </ul>
	</div>
</footer>