<footer>
	<div class="nav-wrapper">

		<h2 class="text--subhead">Chicago Software Craftsmanship</h2>

		<ul class="clean-list">
      <li class="clean-list__item--footer">
        <%= link_to "Pivacy Policy", "clean-list__link" %>
      </li>    
      <li class="clean-list__item--footer">
        <%= link_to "Site Map", "clean-list__link" %>
      </li>
      <li class="clean-list__item--footer">
        <%= link_to "Contact Us", "clean-list__link" %>
      </li>
      <li class="clean-list__item--footer">
        <p class= "clean-list__link">© 2016 Chicago Software Craftsmanship</p>
      </li>
    </ul>

	</div>
</footer>
