<section class="module-main-container module-centered no-event">
	<div class="module-event">

	<%= image_tag("/images/events/Octocat.png", class: "module-event__image") %>
	
		<div class="module-event__text">
			<h3 class="module-event__title">stay tuned! We are currently planning our next event.</h3>

			<p class=" ">Sign up for our email list above or join us on MeetUp.com to stay informed about our next event.</p>

			<input type="submit" value="Join our Meetup Group" class=" button module-event__button--join">
		</div>
</div>

