html {
  box-sizing: border-box;

    *, *:before, *:after {
    box-sizing: inherit;
  }

  letter-spacing: $body-spacing;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $white;
}

.gradient-wrap {
  background-repeat: no-repeat;
  @include linear-gradient(#4292EA, #5FA1ED);
}

.container {
  height: 100%;
  margin: 0 auto;
  @include outer-container(1000px);
}

.module--centered {
  @include span-columns (10);
  @include shift(1);  

  @media (min-width: $md-screen) {
    @include span-columns (10);
    @include shift(1);
  }

  @media (min-width: 746px) {
    @include span-columns (8);
    @include shift(2);
  }
}

.module-container {
  background-color: rgba(255,255,255,0.1);
  border-radius: 9px;
  margin-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;

  @include span-columns (10);
  @include shift(1);  

  @media (min-width: $md-screen) {
    @include span-columns (6);
    @include shift(3);
  }
}