html {
  box-sizing: border-box;

    *, *:before, *:after {
    box-sizing: inherit;
  }

  font: $body-font;
  letter-spacing: $body-spacing;
  overflow-x: hidden; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {  
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,4292ea+0,76a9e5+69,5fa1ed+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #4292ea 0%, #76a9e5 69%, #5fa1ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#4292ea 0%,#76a9e5 69%,#5fa1ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#4292ea 0%,#76a9e5 69%,#5fa1ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#5fa1ed',GradientType=0 ); /* IE6-9 */
font-family: "Merriweather";
}

.container {
  margin: 0 auto;
  @include outer-container(1000px);
}

.module--third {
  @include span-columns (12);
  border: 1px solid red;

  @media (min-width: $lg-screen) {
    @include span-columns (4);  
  }
}

.module--centered {
  @include span-columns (10);
  @include shift(1);  

  @media (min-width: $md-screen) {
    @include span-columns (10);
    @include shift(1);
  }

  @media (min-width: 746px) {
    @include span-columns (8);
    @include shift(2);
  }
}

.module--container {
  background-color: rgba(255,255,255,0.1);
  border-radius: 9px;
  margin-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;

  @include span-columns (10);
  @include shift(1);  

  @media (min-width: $md-screen) {
    @include span-columns (6);
    @include shift(3);
  }
}