.button {
	background-color: $pink;
	border: 0;
	border-radius: 6px;
	box-shadow: 0 0 1px 0 #464646;
	color: $white;
	display: inline-block;
	font: $rift-demi;
	font-size: 1.2em;
	height: 2em;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #444;
	width: 100%;

	@media (min-width: $lg-screen) {
		width: 25%;
		height: 1.9em;
		display: inline-block;
	}
}

.module-event__button {
	padding: 0;
	width: 100%;

	@media (min-width: $md-screen) {
		letter-spacing: 2px;
		width: 20%;
	}

	@media (min-width: $lg-screen) {
		font-size: 1.4em;
	}	
}

.module-event__button--join {
	font-size: .5em;
	letter-spacing: 1px;
	margin-bottom: 2em;
	width: 100%;

	@media (min-width: $md-screen) {
		font-size: 1em;
	}

	@media (min-width: $lg-screen) {
		font-size: 1.2em;
		width: 50%;
	}
}