.skyline-container {
  margin: 0 auto;
  width: $sm-screen;

  @media (min-width: $sm-screen) {
    width: $md-screen;
  }

  @media (min-width: $lg-screen) {
    width: 800px;
  }
}

.image--responsive {
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 100%
}

.cloud-container {
  display: none;

  @media (min-width: $md-screen) { 
    @include outer-container(400px);
    display: block;
    height: 150px;
    position: relative;
    width: 400px;
    

    .cloud-container__Cloud1 {
      left: 75px;
      top: 7px;  
      position: absolute;
      margin: 0 auto;
    }

    .cloud-container__Cloud2 {
      left: 170px;
      top: 65px;
      position: absolute;
      margin: 0 auto;
    }

    .cloud-container__Cloud3 {
      left: 267px;
      top: 16px;  
      position: absolute;
      margin: 0 auto;
    }
  }

  @media (min-width: $lg-screen) { 
    width: 900px;

    .cloud-container__Cloud1 {
      left: 1px; 
      top: 7px; 
      position: absolute;
    }

    .cloud-container__Cloud2 {
      left: 170px;
      top: 65px;
      position: absolute;
    }

    .cloud-container__Cloud3 {
      left: 367px;
      top: 16px;  
      position: absolute;
    }
  }
}