.skyline-container {
  background: no-repeat center/110% url("/images/skyline.svg");
  clear: both;
  height: 300px;
  position: relative;
  top: -2em;

  @media (min-width: $lg-screen) {
    background-size: 100%;
  }
}

.image--responsive {
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 100%
}

.cloud-container {
  display: none;

  @media (min-width: $lg-screen) { 
    display: block;
    height: 150px;
    position: relative;
    width: 900px;
  }
}  

  @media (min-width: $lg-screen) {
    .cloud-container__Cloud1 {
      left: 1em;
      top: .5em;
      @include transform(scale(1.2));
      
      @media (min-width: $extra-lg-screen) {
        left: 0;
        top: .5em;
      }
    }

    .cloud-container__Cloud2 {
      left: 3em;
      top: 10em;
      @include transform(scaleX(-1) scale(.8));
    }

    .cloud-container__Cloud3 {
      left: 9em;
      top: 14em;
      @include transform(scale(.5));
    }

      .cloud-container__Cloud4 {
        @include transform(scaleX(-1) scale(1.2));

        @media (min-width: $extra-lg-screen) {
          left: 60em;
          top: -1em;
        }       
    }

      .cloud-container__Cloud5 {
        right: 0;
        top: 9em;
        @include transform(scale(.8));
    }

      .cloud-container__Cloud6 {
        display: none;
        @include transform(scale(.5));
        
        @media (min-width: $extra-lg-screen) {
          display: block;
          left: 55em;
          top: 14em;
        }  
        
    }
      .cloud-container__Cloud7 {
        left: 48em;
        top: 17em;
        @include transform(scaleX(-1) scale(.5));
    }
  }