h1, h2, h3, h4 {
  color: $white;
}

h1 {
  font-family: $rift;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: $medium-spacing;
  text-align: center;

  @media (min-width: $md-screen) {
    font-size: 3.2em;
    letter-spacing: $large-spacing;    
  }
}

h3 {
  font-family: $Merriweather;
}