h1, h2, h3, h4 {
  color: $white;
}

.text--title {
  font-family: $rift;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: $medium-spacing;
  text-align: center;

  @media (min-width: $md-screen) {
    font-size: 3.2em;
    letter-spacing: $large-spacing;    
  }
}

.text--hero {

  h3, h4 {
    font-family: $Merriweather;
    font-size: .9em;
    text-align: center;
  }

  @media (min-width: $md-screen) {
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1em;
    }
  }

  @media (min-width: $md-screen) {
  }
}

.text--body {
  color: $white;
  font-family: $Merriweather;
  font-size: 1em;
  text-align: center;
}