//Typography
$merriweather: 1em/1em 'Merriweather', serif;
$merriweather-light: 300 $merriweather;
$merriweather-regular: 400 $merriweather;
$merriweather-bold: 700 $merriweather;

$rift: 1em/1.5 rift-soft, sans-serif;
$rift-light: 300 $rift;
$rift-regular: 400 $rift;
$rift-demi: 600 $rift;
$rift-bold: 700 $rift;

//Font Color
$white: #F7F7FF;
$grey: #424651;

//Letter spacing
$body-spacing: .25px;
$bold-spacing: 1.2px;
$small-spacing: 2px;
$medium-spacing: 3.45px;
$large-spacing: 5.2px;

//Buttons
$pink: #EA526F;

//Header Font
$header-font: $rift-bold;

//Body Font
$body-font: $merriweather-light;

//Mobile breakpoints
$sm-screen: '375px';
$md-screen: '520px';
$lg-screen: '900px';
$extra-lg-screen: '1100px';