---
layout: layout
title: Chicago Software Craftsmanship
---

<%= partial "partials/nav" %>

<div class="gradient-wrap">
  <section class="container">
    <h1 class="text--title">Contact Us</h1>

    <form class="form-contact">
      <label class="text--paragraph form-contact__label" for="name">Name</label>
      <input type="text" placeholder="Name" class="input--text">

      <label class="text--paragraph form-contact__label" for="message">Message</label>
      <textarea name="textarea" rows="10" cols="50" class="input--text long-answer"></textarea>

      <label class="text--paragraph form-contact__label" for="email">Email address</label>
      <input type="email" name="email" placeholder="Email Address" class="input--text">
      <input type="submit" action="esanmiguel@8thlight.com" value="Submit" class="button button--block">
    </form>

  <div class="skyline-container"></div>
  
  </section>

  <%= partial "partials/footer" %> 

</div>