---
layout: layout
title: Chicago Software Craftsmanship
---

<%= partial "partials/nav" %>

<div class="gradient-wrap">
  <section class="container">
    <h1 class="text--title">Contact Us</h1>

    <form class="form__contact form--centered">
      <p class="text--paragraph">Name</p>
      <input type="text" placeholder="Name" class="input--text">
      <p class="text--paragraph">Message</p>
      <input type="text" class="input--text long-answer">
      <p class="text--paragraph">Email address</p>
      <input type="email" name="email" placeholder="Email Address" class="input--text">
      <input type="submit" action="esanmiguel@8thlight.com" value="Submit" class="button button--block">
    </form>

  <div class="skyline-container"></div>
  
  </section>

  <%= partial "partials/footer" %> 

</div>