---
layout: layout
title: Chicago Software Craftsmanship
---

<%= partial "partials/nav" %>

<div class="gradient-wrap">
	<section class="container">
	   <h1 class="text--title">Events</h1>

	   <%= partial "partials/event" %> 

	  <div class="skyline-container"></div>

	  <%= partial "partials/email_form" %>
  	<%= partial "partials/footer" %>

	</section>
</div>